@media (min-width: 375px) {
  .footer {
    .container {
      .footer__main {
        .footer__logo {
          .btn {
            width: 180px;
          }
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .footer {
    .container {
      .footer__main {
        display: flex;
        justify-content: space-between;
        .footer__logo {
          .media {
            flex-direction: column;
            .mr-3 {
              display: block;
              width: 64px;
              margin-bottom: 24px;
            }
            .media-body {
              font-size: 16px;
              font-weight: normal;
              margin-top: 24px;
              .mt-0 {
                text-align: left;
                font-size: 24px;
              }
            }
          }
          .btn {
            width: 350px;
            height: 40px;
            margin-left: 0px;
            margin-top: 24px;
          }
        }
        .footer__nav {
          .nav__text {
            font-size: 20px;
            text-align: left;
          }
          .nav-item {
            .nav-link {
              font-size: 16px;
              line-height: 1.5;
              text-align: left;
            }
          }
        }
        .projects {
          .nav__text {
            font-size: 20px;
            text-align: left;
          }
          .nav {
            .nav-item {
              .nav-link {
                font-size: 16px;
                line-height: 1.5;
                text-align: left;
              }
            }
          }
        }
      }
      .footer__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid grey;
        margin-top: 80px;
        padding-top: 48px;
        .logo__social {
          margin-top: 0px;
        }
      }
    }
  }
}
