@media (min-width: 1600px) {
  .gos__links {
    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid grey;
      }
      .text__link {
        padding-right: 102px;
        font-size: 32px;
      }
      .nav {
        display: flex;
        flex-direction: row;
        .nav-item {
          .nav-link {
            font-size: 16px;
          }
        }
        .nav-item:hover {
          background-color: #fff;
          border-bottom: 4px solid blue;
        }
        .nav-item:focus-within {
          background-color: #fff;
          border-bottom: 4px solid blue;
        }
      }
      .tab-content {
        padding-top: 47px;
        .tab-pane {
          display: flex;
          flex-wrap: wrap;
          .media {
            align-items: center;
            width: 352px;
            height: 116px;
            margin-right: 32px;
            .media-body {
              .mt-0 {
                font-size: 18px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
