@media (min-width: 1600px) {
  .grafic {
    .container {
      .grafic__head {
        margin-bottom: 30px;
        .grafic__text {
          font-size: 42px;
          line-height: 1.25;
          letter-spacing: -0.4px;
          margin-bottom: 30px;
        }
        .grafic__info {
          display: flex;
          justify-content: space-between;
          .grafic__1 {
            width: 100%;
            background-color: #f4f7fb;
            border: 1px solid grey;

            .info__text {
              padding: 32px 64px 32px 32px;
              font-size: 24px;
              line-height: 1.5;
            }
            .numbers {
              padding: 32px 0px 32px 32px;
              font-size: 60px;
              width: 70px;
            }
            .nomera {
              .numbers {
                padding: 32px 0px 32px 32px;
                font-size: 60px;
                width: 70px;
              }
            }
          }
          .grafic__1:hover {
            background-color: #fff;
            border-bottom: 4px solid blue;
          }
          .grafic__1:focus-within {
            background-color: #fff;
            border-bottom: 4px solid blue;
          }
        }
      }
    }
  }
}
