@media (min-width: 768px) {
  .grafic {
    .container {
      .grafic__head {
        .grafic__text {
          text-align: center;
        }
        .grafic__info {
          .grafic__1 {
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #f4f7fb;
          }
        }
        .grafic__1:focus-within {
          background-color: #fff;
          border-bottom: 4px solid blue;
        }
        .grafic__1:hover {
          background-color: #fff;
          border-bottom: 4px solid blue;
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .grafic {
    .container {
      .grafic__head {
        margin-bottom: 30px;
        .grafic__text {
          font-size: 32px;
          line-height: 1.25;
          letter-spacing: -0.4px;
          margin-bottom: 30px;
        }
        .grafic__info {
          display: flex;
          justify-content: space-between;
          .grafic__1 {
            align-items: unset;
            justify-content: space-between;
            width: 100%;
            background-color: #f4f7fb;
            border: solid 1px #dde1e6;

            .info__text {
              padding: 32px 64px 32px 32px;
              font-size: 16px;
              line-height: 1.5;
            }
            .numbers {
              padding: 32px 0px 32px 32px;
              font-size: 48px;
              line-height: 1.17;
              letter-spacing: -0.6px;
              width: 70px;
            }
            .help {
              flex-direction: row;
              font-size: 18px;
              padding-bottom: 17px;
            }
          }
          .grafic__1:hover {
            background-color: #fff;
            border-bottom: 4px solid blue;
          }
          .grafic__1:focus-within {
            background-color: #fff;
            border-bottom: 4px solid blue;
          }
        }
      }
      // .line90 {
      //   position: relative;
      //   bottom: -44px;
      //   left: 33px;
      // }
      // .line95 {
      //   position: relative;
      //   bottom: -44px;
      //   left: 33px;
      // }
    }
  }
}
