@media (min-width: 1600px) {
  .header {
    position: fixed;
    width: 100%;
    .navbar {
      .navbar-brand {
        font-size: 20px;
        color: #dde1e6;
        img {
          margin-right: 16px;
        }
      }
    }
    .navbar-collapse {
      flex-grow: 0;
      .navbar-nav {
        .nav-item {
          margin-right: 25px;
          .btn {
            font-size: 20px;
          }
          .btn-secondary {
            border: 0px solid;
          }
          .nav-link {
            padding: 0px;
          }
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1440px;
  }
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    .navbar {
      .navbar-brand {
        font-size: 20px;
        color: #dde1e6;
        img {
          margin-right: 16px;
        }
      }
    }
    .navbar-collapse {
      display: flex;
      justify-content: flex-end;
      flex-grow: 0;
      .navbar-nav {
        .nav-item {
          margin-right: 25px;
          .btn {
            font-size: 20px;
          }
          .btn-secondary {
            border: 0px solid;
          }
          .nav-link {
            padding: 0px;
          }
        }
      }
    }
  }
}
@media (min-width: 375px) {
  .header {
    position: fixed;
    width: 100%;
    .navbar {
      .navbar-brand {
        font-size: 20px;
        color: #dde1e6;
        img {
          margin-right: 16px;
        }
      }
    }
    .navbar-collapse {
      flex-grow: 0;
      .navbar-nav {
        .nav-item {
          margin-right: 25px;
          .btn {
            font-size: 20px;
          }
          .btn-secondary {
            border: 0px solid;
          }
          .nav-link {
            padding: 0px;
          }
        }
      }
    }
  }
}
@media (min-width: 320px) {
  .header {
    position: fixed;
    width: 100%;
    .navbar {
      .navbar-brand {
        font-size: 20px;
        color: #dde1e6;
        img {
          margin-right: 16px;
        }
      }
    }
    .navbar-collapse {
      flex-grow: 0;
      .navbar-nav {
        .nav-item {
          margin-right: 25px;
          .btn {
            font-size: 20px;
          }
          .btn-secondary {
            border: 0px solid;
          }
          .nav-link {
            padding: 0px;
          }
        }
      }
    }
  }
}
