@media (min-width: 1600px) {
  .header {
    position: fixed;
    width: 100%;
    .navbar {
      .navbar-brand {
        font-size: 20px;
        color: #dde1e6;
        img {
          margin-right: 16px;
        }
      }
    }
    .navbar-collapse {
      flex-grow: 0;
      .navbar-nav {
        .nav-item {
          margin-right: 25px;
          .btn {
            font-size: 20px;
          }
          .btn-secondary {
            border: 0px solid;
          }
          .nav-link {
            padding: 0px;
          }
        }
      }
    }
  }
  .internet {
    padding: 70px 0px 16px;
    .container {
      .row {
        .col-4 {
          .media {
            .media-body {
              padding-top: 10px;
              .mt-0 {
                font-size: 22px;
              }
            }
          }
        }
      }
      .col-8 {
        padding-top: 10px;
      }
    }
  }
  .news {
    padding-top: 80px;
    .container {
      .media {
        .mr-3 {
          display: block;
        }
      }
      .row {
        display: flex;
        justify-content: space-between;
        .col-3 {
          margin: 64px 0px 0px 0px;
          .media {
            display: flex;
            flex-wrap: wrap;

            .mr-3 {
              width: 352px;
            }
          }
        }
      }
    }
  }
}
