@import "~normalize.css";
@import "roboto.css";
@import "~bootstrap/scss/bootstrap";

%text {
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
}
body {
  font-family: roboto;
  height: 100%;
}
html,
body {
  overflow: auto;
}
.header {
  position: relative;
  background-color: #3b4256;
  @extend %text;
  color: #dde1e6;
  z-index: 4;
  width: 320px;
  nav {
    display: flex;
    justify-content: space-between;
    .country {
      display: none;
    }
  }

  .navbar {
    .navbar-brand {
      font-size: 14px;
      color: #dde1e6;
    }
    .navbar-toggler {
      // display: none;
      font-size: 10px;
      border-color: #dde1e6;
    }
    .navbar-collapse {
      .navbar-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        z-index: 2;
        .nav-item {
          margin-right: 10px;
          .btn {
            font-size: 14px;
            background-color: #3b4256;
          }
          .dropdown-menu {
            background-color: #3b4256;
            border: 0px solid;
            .form-inline {
              background-color: #3b4256;
            }
            .dropdown-item {
              color: #dde1e6;
            }
          }
        }
      }
      .nav-link {
        color: #dde1e6;
      }
    }
  }
}
.internet {
  @extend %text;
  padding-top: 70px;
  border-bottom: 1px solid #dde1e6;
  width: 100%;
  .container {
    .row {
      flex-direction: column;
      .col-4 {
        align-items: center;
        .media {
          font-size: 14px;
          h5 {
            font-size: 20px;
          }
        }
      }
    }
    .col-8 {
      .navbar {
        flex-direction: row;
        justify-content: space-between;
        width: 280px;
        .navbar-brand {
          font-size: 20px;
        }
        .navbar-toggler {
          font-size: 10px;
          border-color: #dde1e6;
        }
        .nav-link {
          font-size: 16px;
        }
      }
    }
  }
}
.news {
  .container {
    .row {
      flex-direction: column;
      .col-12 {
        .media {
          .media-body {
            .accordion {
              .card {
                .card-body {
                  color: #3b4256;
                }
              }
            }
          }
        }
      }
      .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
        .media {
          .media-body {
            .accordion {
              .card {
                .card-body {
                  color: #3b4256;
                }
              }
            }
          }
        }
      }
    }
  }
  .media {
    .mr-3 {
      display: none;
    }
    .media-body {
      background-color: #fff;
      .card {
        border: 0px solid;
        .card-header {
          background-color: #fff;
          border: 0px solid;
          .btn {
            @extend %text;
            text-decoration: none;
            color: black;
            text-align: left;
            padding-left: 0px;
            font-size: 20px;
          }
          .card-body {
            @extend %text;
            font-size: 14px;
            font-weight: normal;
            color: #848e99;
          }
        }
      }
    }
  }
}
.for__people {
  padding: 80px 0px 80px;
  background-color: #f4f7fb;
  @extend %text;
  .container {
    .row {
      flex-direction: column;
      .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
        .accordion {
          .card {
            background-color: #f4f7fb;
            border: 0px solid;
            .card-header {
              border-bottom: 0px solid;
              background-color: #f4f7fb;

              .btn {
                font-size: 30px;
                text-decoration: none;
                color: #3b4256;
              }
            }
            .collapse {
              background-color: #fff;
              margin-bottom: 20px;
              border-radius: 8px;
              .card-body {
                border-radius: 8px;
                margin-bottom: 10px;
                .media-body {
                  color: #848e99;
                  font-weight: normal;
                  font-size: 18px;
                  font-weight: normal;
                  h5 {
                    color: #3b4256;
                    font-size: 32px;
                  }
                }
              }
              .card-body {
                margin-bottom: 10px;
                .media-body {
                  font-size: 18px;
                  font-weight: normal;
                  h5 {
                    font-size: 20px;
                  }
                }
                img {
                  position: relative;
                }
                .img1 {
                  width: 40px;
                  z-index: 3;
                  left: 45px;
                }
                .img2 {
                  width: 40px;
                  z-index: 2;
                }
                .img3 {
                  width: 40px;
                  z-index: 1;
                  left: -45px;
                }
              }
            }
            .people__link {
              z-index: 2;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
              .card-body {
                .media {
                  .media-body {
                    .link__services {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            .zero {
              width: 280px;
              height: 75px;
              background-color: #fff;
              border-radius: 8px;
              margin-left: 5px;
              position: relative;
              z-index: 1;
              top: -86px;
            }
          }
        }
      }
      .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        .PeopleTwo {
          border: 0px solid;
          background-color: #0c49cd;
          .card-header {
            background-color: #f4f7fb;
            .btn {
              font-size: 30px;
              color: #3b4256;
            }
          }
          .collapse {
            border-radius: 8px;
            .card-body {
              border-radius: 10px;
              background-color: #0c49cd;
              .btn {
                color: #fff;
              }
            }
            .people__bottom {
              display: flex;
              justify-content: center;
              padding: 25px 0px;
              background-color: #0c49cd;
              .btn {
                border-radius: 5px;
                background-color: #fff;
                color: #3b4256;
              }
            }
          }
        }
      }
    }
  }
}

.grafic {
  padding: 80px 0px;
  .grafic__head {
    @extend %text;

    .grafic__1 {
      .info__text {
        font-size: 16px;
        color: #848e99;
      }
      .numbers {
        font-size: 30px;
        color: #3b4256;
      }
      .numbersmin {
        font-size: 16px;
      }
    }
  }
  .statistics {
    .card {
      border: solid 1px #dde1e6;
      .card-header {
        display: flex;
        justify-content: center;
        border: solid 1px #dde1e6;
        background-color: #fff;
        .btn {
          font-size: 18px;
          color: #3b4256;
          text-decoration: none;
        }
      }
    }
  }
}
.gos__links {
  padding: 80px 0px;
  background-color: #f4f7fb;
  .text__link {
    @extend %text;
    font-size: 32px;
  }
  .nav-tabs {
    display: flex;
    flex-direction: column;
    border: 0px solid;
  }
  .nav-item {
    .nav-link {
      @extend %text;
      font-size: 16px;
      color: #848e99;
      text-decoration: none;
      border: 0px solid;
    }
    .nav-link:focus {
      color: black;
    }
  }
  .tab-content {
    .media {
      padding: 5px 0px;
      margin: 15px 0px;
      background-color: #fff;
      .mt-0 {
        @extend %text;
        font-size: 18px;
        font-weight: 500;
      }
      .mr-3 {
        margin-left: 5px;
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 80px 0px;
  background-color: #3b4256;
  color: #fff;
  @extend %text;
  .footer__main {
    a {
      text-decoration: none;
      color: #848e99;
      font-size: 16px;
      padding-left: 0px;
    }
    h2 {
      font-size: 24px;
    }
    .footer__logo {
      padding-bottom: 30px;
      .media {
        .mr-3 {
          display: none;
        }
        .media-body {
          font-size: 16px;
          text-align: center;
        }
      }
      .btn {
        margin-top: 20px;
        margin-left: 80px;
        border: solid 1px rgba(255, 255, 255, 0.7);
        width: 120px;
        color: #fff;
      }
    }
    .footer__nav {
      text-align: center;
      .nav-link {
        text-decoration: none;
        color: #848e99;
      }
    }
    .projects {
      text-align: center;
    }
  }
  .footer__bottom {
    margin-top: 20px;
    .logo__social {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 20px;
      img {
        margin-right: 20px;
      }
    }
  }
}
